*{
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    padding:0;
    margin:0;
}
body{
    height: 100%;
}

#header{
    text-align: center;
    background: #001f3f;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;

}

#country-selection{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #DDDDDD;
    padding-top: 3px;
}

#country-selection p {
    font-weight: bold;
}

#country-dropdown{
    margin-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

#overall-metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
}

#overall-metrics p:first-child{
    background-color: #FF851B;
    padding: 20px;
}

#overall-metrics p:nth-child(2){
    background-color: #FF4136;
    padding: 20px;


}
#overall-metrics p:nth-child(3){
    background-color: #0074D9;
    padding: 20px;

}

#trends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

#case-trend{
    width: 500px;
    height: 500px;
}

#case-death{
    width: 500px;
    height: 500px;
}

#case-recovery{
    width: 500px;
    height: 500px;
}

#variances {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}


#confirms-variances{
    max-width: 500px;
    max-height: 500px;
}

#death-variances{
    max-width: 500px;
    max-height: 500px;
}

#recovery-variances{
    max-width: 500px;
    max-height: 500px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
  }
  
table tr:first-child th{
    text-align: center;
}
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}


/*** Footer ***/
#footer{
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #001f3f;
    height: 50px;
}

#footer p{
    padding-top: 15px;
}
#affiliated{
    color: lime;
    text-decoration: none;
}

/*** Responsiveness ****/
@media only screen and (max-width: 600px) {

    #country-selection, #header{
        width: 100vw;
        margin-left: 0;
        margin-right: 0;

    }
    #overall-metrics {
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;

    }
    #overall-metrics p{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #trends{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    #case-trend{
        width: 100%;
    }
    #case-death{
        width: 100%;
    }
    #case-recovery{
        width: 100%;
    }
    #variances{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    
    
  }
